<!DOCTYPE html>
<html lang="'en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="./app.css" rel="stylesheet">
  <title>Artist Information</title>
</head>

<body>

  <div class="row">
    <div class="col-auto">
      <div class="sidenav">
        <a href="./index.html">Home</a>
        <a href="./Artist.html">Artist Information</a>
        <a href="./Recommend.html">Artist Recommendations</a>
        <a href="./ML.html">Machine Learning</a>
        <a href="./About.html">About</a>
      </div>
    </div>

    <div class="col">
      <!-- <header class="headerstyle">
        <nav class="navbar navbar-dark bg-success bg-gradient">
          <div class="container">
            <h1>Artist Information</h1>
            <h1 class="navbar-brand">About This Project</h1>
            <p class="navbar-brand fs-4">Spotify ML</p>
            <p class="navbar-text fs-5">Created by: Heriberto Pelaez, Cameron Lee, Mateo Hwang, and Landon Stubblefield</p>
          </div>
        </nav>
      </header> -->

      <div class="main artiststyle">
        <div class="px-4 border border-0">
          <!-- <h2>Which artist interests you?</h2> -->
          <div id="userinput" class="col-md-4 offset-md-4">
            <div class="col-md-12 mb-1 row">
              <!-- <label for="artistInput" class="form-label">Which artist interests you?</label> -->
              <input class="form-control" type="text" id="artistInput" placeholder="Which artist interests you?">
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary" type="submit" id="myButton">Submit</button>
            </div>
          </div>

          <div class="row my-4">
            <div class="col-md-4 offset-md-4">
              <span id="message" class="fs-4 fw-bolder offset-md-1"></span>
              <div id="image_url_1" class="my-1"></div>
              <div id="artist_followers" class="fs-5 fw-light badge bg-secondary offset-md-2"></div>
            </div>
          </div>

          <div class="container">
            <div class="row justify-content-md-center">
              <div class="row justify-content-md-center mb-2">
                <div class="col-auto mb-2">
                  <div id="popularity-chart"></div>
                </div>
                <div class="col-auto">
                  <div id="tempo-histogram"></div>
                  <p id="resultDP"></p>
                </div>
                <div class="col-auto">
                  <div id="bubble-chart"></div>
                  <p id="resultTE"></p>
                </div>
              </div>
              <div class="row justify-content-md-center">
                <div class="col-auto mb-2">
                  <div id="gauge"></div>
                </div>
                <div class="col-auto">
                  <div id="valance"></div>
                  <p id="result"></p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
</body>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="./artist.js"></script>

</html>