<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="./app.css" rel="stylesheet">
    <title>Spotify ML</title>
</head>
<!--about, artist visualization, artist recommendation-->

<body>

    <div class="sidenav">
        <a href="./index.html">Home</a>
        <a href="./Artist.html">Artist Information</a>
        <a href="./Recommend.html">Artist Recommendations</a>
        <a href="./ML.html">Machine Learning</a>
        <a href="./About.html">About</a>
    </div>

    <div class="fs-6" style="height: 97vh; background-image: linear-gradient(to left, lightblue, whitesmoke);">
        <!-- <header class="bg-primary bg-gradient text-light text-center py-4"> -->
        <header>
            <nav class="navbar navbar-light bg-primary bg-gradient">
                <div class="container">
                    <h1 class="navbar-brand fs-2 text-light">Spotify ML</h1>
                </div>
            </nav>
        </header>

        <!-- Main Content -->
        <div class="container mt-4">
            <section>
                <h2>Artist Information</h2>
                <p>
                    Learn more about your favorite artists and their music.
                    <a href="./Artist.html">Explore</a>
                </p>
            </section>
        </div>
        <hr class="my-4">
        <div class="container mt-4">
            <section>
                <h2>Artist Recommendations</h2>
                <p>
                    Discover new artists and songs based on your preferences.
                    <a href="./Recommend.html">Explore</a>
                </p>
            </section>
        </div>
        <hr class="my-4">
        <div class="container mt-4">
            <section>
                <h2>Machine Learning</h2>
                <p>
                    Dive into the world of machine learning and its impact on music analysis.
                    <a href="./ML.html">Explore</a>
                </p>
            </section>
        </div>
    </div>

    <footer class="container my-0">
        &copy; 2023 Spotify ML. All rights reserved.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="./MHstatic.js"></script>
</body>

</html>